@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Poppins:wght@100;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --secondary-color:#695CFE;
    
    --toggle-color: #DDD;
    --text-color: #707070;
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease; 
}

body{
    height: 100vh;
    background:var(--body-color) ;
    transition: var(--tran-04);
}
body.dark{
    --body-color: #18191A;
    --sidebar-color: #242526;
    --secondary-color: #695cfebd;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}
/* ====== Sidebar =====*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 1;
}
.sidebar.close{
    width: 88px;
    
}
/* ====== Reusable css =====*/
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar li{

    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    display: flex;
    flex-direction: column;

}
.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    color: var(--sidebar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    transition: var(--tran-03);
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    
    color: var(--text-color);
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
}
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: var(--primary-color-light);
    
}
.sidebar li a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
    width: 100%;
}
.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}


.sidebar .menu-bar{
    
    height: calc(100% - 50px)  ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    background: var(--primary-color-light);
    border-radius: 6px;
}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    height: 100%;
    min-width: 60px;
    
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;

    border-radius: 25px;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
    
}
body.dark .switch::before{
    left: 24px;
    
}

.home{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
    
    

}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
    display: flex;
    justify-content: center;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}
 /* .------ carouserl*/


 .action,
 .text-titulo,
 .filtros,
 .spawn-bib,
 hr{
    width: 75%;
    height: auto;

    margin: 20px auto;
    
 }
 
.container-registro{
    
    min-height: 300px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.5);
    transition: var(--tran-04);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    padding: 20px;
      
}
body.dark .container-registro{
    box-shadow: 0px 5px 10px 2px rgba(105, 92, 254, 0.4);
}
.container-registro .mid1{
    
    padding: 20px 30px;
    flex-grow: 1;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}
.container-registro .mid1 i{
    border-radius: 50%;
    
    color: var(--text-color)
}
body.dark .container-registro .mid1 i{
    box-shadow: 0px 5px 10px 2px rgba(105, 92, 254, 0.4);
     color: rgb(105, 92, 254);
}
.container-registro .mid1{
    font-size: 200px;
}

.container-registro .texto-alerta{
    
    font-size: 50px;
    font-weight: bold;
    color: white;
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
    align-self: center;
    margin: 0 auto ;
}

.container-registro .mid2{
    padding: 20px 30px;
    
    border-radius: 40px;
    flex-grow: 1;
    width: 400px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    gap: 20px;
    align-items: center;
    max-width: 700px;
    text-wrap: wrap;
    height: auto;
    flex-wrap: wrap;
    transition: var(--tran-04);

    
}

.container-registro .texto-al-secundario{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: black;
    transition: var(--tran-04);
    white-space: wrap;
    opacity: 1;
}
body.dark .container-registro .texto-al-secundario{
    color: white;
}


.registrarBtn{
    border: none;
    outline: none;
    padding: 5px 6px;
    border-radius: 20px;
    background-color: green;
    height: 50px;
    width: 70px;
    color: white;
}
body.dark .container-registro{

}
.filtros{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.filtros>*{
    flex-grow: 1;

}
.filtros .bloque{
background: var(--primary-color-light);
padding: 10px 0;
display: flex;
align-items: center;
border-radius: 15px;

}
.filtros .bloque>*{
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}
.filtros .bloque input,
.filtros .bloque select
{
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;

}
.bl2{
    max-width: 200px;
    justify-content: space-around;
}

.spawn-bib{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
.spawn-bib >*{
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 200px;
    
    height: 200px;
}

.caja .cuadro{
    width: 200px;
    margin: 0 auto;
    height: 100%;
    background-color: #695CFE;
    display: flex;
    position: relative;
}

.caja .cuadro img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.cuadro-texto{
    position: absolute;
    background-color:rgba(0,0,0,0.5) ;
    width: 200px;
    height: 80px;
    bottom: 0;
    padding: 5px 7px;
    display: flex;
    flex-direction: column;
    transition: var(--tran-04);
}
.cuadro:hover .cuadro-texto{
    background-color:rgba(0,0,0,0.8) ;
    height: 100px;
}
body.dark .cuadro-texto{
    background: var(--secondary-color);
}
body.dark .cuadro:hover .cuadro-texto{
    background:#695CFE;
    height: 100px;
}
.cuadro-texto .pie{
    display: flex;
    justify-content: space-between;
}
.cuadro-texto .pie .estrellas i{
    color: gold;
    font-size: 10px;
}
.cuadro-texto .pie .descarga{
    border: none;
    outline: none;
    background-color: green;
    padding: 3px 6px;
    border-radius: 6px;
    color: white;
}
.cuadro-texto .texto-nombre{
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}

.cuadro-texto .texto-descrip{
    font-size: 12px;
    font-weight: 300;
    color: white;
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}
.text-titulo{
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;
}